.App {
  text-align: center;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 70vh;
  background-color: #fcf7f9;
}

@media screen and (max-width: 767px) {
  .layout {
    display: none;
  }

  .info {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .info {
    display: none;
  }
}

video::-webkit-media-controls {
  display: none !important;
}

video {
  pointer-events: none;
}